# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# --- macOS ---
.DS_Store
frontend/.DS_Store

# --- VSCode ---
.vscode/

# --- Foundry / Solidity ---
/contracts/out/
/contracts/cache/
/contracts/broadcast/
/contracts/.forge/
/contracts/lib/*/
/contracts/lib/openzeppelin-contracts/.git/
/contracts/foundry.lock

# --- Node.js ---
# dependencies
node_modules
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# package logs/locks
package-lock.json
npm-debug.log
npm-debug.log*
yarn-debug.log
yarn-debug.log*
yarn-error.log
yarn-error.log*
.pnpm-debug.log*

# --- Node / Next.js frontend ---
# dependencies
frontend/node_modules
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# turbo
frontend/.turbo/

# package logs/locks
frontend/package-lock.json
frontend/npm-debug.log
frontend/npm-debug.log*
frontend/yarn-debug.log
frontend/yarn-debug.log*
frontend/yarn-error.log
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# --- ENV files ---
.env
.env.local
.env.production
.env.development
.env*

frontend/.env
frontend/.env.local
frontend/.env.production
frontend/.env.development
frontend/.env*

# --- vercel ---
frontend/.vercel

# --- typescript ---
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# --- Logs ---
*.log

# --- Misc ---
*.tmp
*.swp
*.pem

frontend/*.pem